{% extends 'base.html' %}
{% block header %}
<h3>{% block title %}Your Rooms{% endblock %}</h1>
    {% endblock %}
    {% block content %}

    <!-- main content of list of video-->
    <div class="container">

        <div class="list-container">
            {% for room in rooms %}
            <div class="vid-list">

                <!-- https://i.ytimg.com/vi/{{room._id.vid_id}}/hq720.jpg-->
               <a href="/vroom/{{room._id.room_id}}"><img  class ="thumbnail" src="https://i.ytimg.com/vi/{{room.vid_id}}/hq720.jpg"></a> 

                <div class="vid-info"> 
                    <a href="/vroom/{{room._id.room_id}}">{{room.vid_id}} </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>


    {% endblock %}